{% load l10n %}
<table>
<tr>
<th>Name</th>
<td>{{ state.name }}</td>
</tr>
<tr>
<th>Capital</th>
<td>{{ state.capital }}</td>
</tr>
<tr>
<th>Languages</th>
<td>{{ state.languages|join:", " }}</td>
</tr>
<tr>
<th>Population</th>
<td>{{ state.population }}</td>
</tr>
<tr>
<th>Area</th>
<td>{{ state.area }}</td>
</tr>
<tr>
<th>Population Density</th>
<td>{{ state.population_density|floatformat }}</td>
</tr>
</table>